mixin product(title,image,description,price,rrp)
    .product-tile(data-aos='fade-up')
        .product-image(style='background-image: url("images/product_shots/'+image+'");')
        .product-content
            .title=title
            .description=description
            .price-row
                if(rrp>price)
                    .red-strikethrough
                        .price $#{rrp}
                .price $#{price}


mixin productCategory(name)
    .product-category
        img.divider-side(src='images/dividerleft.png')
        .product-category-title=name
        img.divider-side(src='images/dividerright.png')

html
    head
        title Rebellion Rum Co - Gin, Vodka & Rum Distillery - Yatala
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;600&family=Neuton:wght@300;700;800&display=swap")
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
        link(rel="stylesheet", href="css/styles.css")
        link(rel="stylesheet", href="https://unpkg.com/aos@2.3.1/dist/aos.css")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(name="theme-color", content="#F4DFB5")
        script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
        // Global site tag (gtag.js) - Google Analytics
        script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-V3QD1N4YKW')
        script.
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'G-V3QD1N4YKW');

    body
        header
            .logo
                img.responsive(src="images/header_logo.png", alt="Rebellion Rum Logo")
        section.hero
            .hero-padding
            .container

        .products
            +productCategory('Rums & Sugarcane Spirit')
            +product('Cloak & Dagger','cloak-and-dagger.jpg',"A true aussie sugar cane spirit, excellent with coke. If you are tired of Bundy and want to give something else a try, this is for you.",30,44)
            +product('Surrender','surrender.jpg',"A white, easy drinking spirit that goes great in daiquiris or as an easy drink with Coke.",30,40)
        .products
            +productCategory('Gins')
            +product('Lemon, Blood Orange, & Lime','citrus.jpg','A clean, crisp Gin with a light citrus punch. A great summer drink that makes an excellent gin and Tonic.',30,46)
            +product('Traditional Fine Gin','traditional-gin.jpg',"Juniper, coriander, cardamom, angelica root & just a hint of citrus. Because its traditional does not mean its boring. Feedback from our testers is that its one of the best gins they have ever had. Don't believe it ? Come on in a try it out.",30,46)
            +product('Traditional Butterfly Pea','butterfly-pea.jpg',"Our traditional dry gin infused with butterfly pea flower to make a magical colour changing experience.",30,46)
            +product('The Flamingo','flamingo.jpg',"What started as an experiment turned into one of our proudest moments. A slightly sweet, fruity finish. This gin has a little surprise when added to tonic - give it 10 seconds!",30,46)
        .products
            +productCategory('Vodkas')
            +product('White Stag','white-stag.jpg','One of the highest purity vodkas you will experience. So smooth you will hardly know its in your drink.',30,38)


        section(style='margin-top: 30px; margin-bottom: 30px;')
            .container
                .row.reverse
                    .col-6
                        iframe(width='100%' height='450' style='border:0' loading='lazy' allowfullscreen='' src='https://www.google.com/maps/embed/v1/place?key=AIzaSyDf0CgfUh6F0aCLwNVSZyHN4wg6_QiTd2A&q=Rebellion+Rum+Distillery+Yatala')
                    .col-6.responsive-text-center(style='margin-bottom: 20px')
                        h3 Rebellion Rum Distillery
                        p 3 Octal Street, Yatala, 4207
                        h3(style='margin-top: 20px') Opening Hours
                        p
                            | Thursday &amp; Fridays from 10am - 5pm.
                            br
                            | Other times call 0452323234 to check.
                        p
                            span.small-head Phone:
                            a(href='tel:0452323234') 0452323234
                            br
                            span.small-head Email:
                            a(href='mailto:thecaptain@rebelrum.com.au') thecaptain@rebelrum.com.au
                            br
                            span.small-head The gram:
                            a(href='https://www.instagram.com/rebellionrumco/') @rebellionrumco
                            br
                            span.small-head The Facebook:
                            a(href='https://www.facebook.com/rebellionrumco') rebellionrumco
                            br

        script.
          AOS.init();